$javascript: #f9e64f;
$javascript-light: #fdf190;
$typescript: #294e80;
$typescript-light: #294e8099;
$primary: $javascript;
$primary-light: $javascript-light;
$link: $primary;
$info: $primary;
$shade-light: #fafafa;
$accent-color: #00b3e6;
$accent-dark-color: #294e80;
$table-background-color: #b84949; //$shade-light;
